<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Min age</th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="openMovieInfoDialog(row.id)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <div class="d-flex w-100 justify-content-end mt-4">
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="openAddMovieDialog()"
    >
      Create movie
    </button>
  </div>
</div>
