<div
  class="d-flex flex-column p-4 w-100 h-100 justify-content-between align-items-center"
>
  <p>Create theater form</p>
  <form
    [formGroup]="form"
    class="d-flex flex-column form-container w-100 h-100"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        required
        formControlName="date"
        [matDatepicker]="picker"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        required
        matInput
        [format]="24"
        [defaultValue]="time"
        formControlName="time"
        [ngxMatTimepicker]="timePicker"
        [placeholder]="time"
        readonly
      />
      <mat-icon matSuffix (click)="timePicker.open()"> watch_later </mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker [defaultTime]="time" #timePicker></ngx-mat-timepicker>

    <mat-form-field appearance="fill">
      <mat-label>Theater:</mat-label>
      <mat-select [formControl]="form.controls.theater">
        <mat-option *ngFor="let theater of data.theaters" [value]="theater.id">
          {{ theater.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Movie:</mat-label>
      <mat-select [formControl]="form.controls.movie">
        <mat-option *ngFor="let movie of data.movies" [value]="movie.id">
          {{ movie.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price:</mat-label>
      <input required matInput formControlName="price" />
    </mat-form-field>
    <div class="d-flex justify-content-between gap-4">
      <button class="w-100" mat-flat-button color="primary" type="submit">
        Update
      </button>
      <button
        class="w-100"
        mat-flat-button
        (click)="deleteTheater()"
        color="warn"
        type="button"
      >
        Delete
      </button>
      <button
        class="w-100"
        mat-flat-button
        (click)="closeDialog()"
        color="accent"
        type="button"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
