<div
  class="d-flex flex-column p-4 w-100 h-100 justify-content-between align-items-center"
>
  <p>Edit theater form</p>
  <form
    [formGroup]="form"
    class="d-flex flex-column form-container w-100 h-100"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>Movie name:</mat-label>
      <input required matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Movie description:</mat-label>
      <input required matInput formControlName="description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Duration:</mat-label>
      <input required matInput formControlName="duration" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Min age:</mat-label>
      <input required matInput formControlName="age" />
    </mat-form-field>
    <div class="d-flex justify-content-between gap-4">
      <button class="w-100" mat-flat-button color="primary" type="submit">
        Update
      </button>
      <button
        class="w-100"
        mat-flat-button
        (click)="deleteMovie()"
        color="warn"
        type="button"
      >
        Delete
      </button>
      <button
        class="w-100"
        mat-flat-button
        (click)="closeDialog()"
        color="accent"
        type="button"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
